:root {
	/* Declare global variable */
	--header-background: #ffffff;
	--header-height: 4rem;
	--header-width: 1124px;
	--background: #f4f2ee;
	--search-background: #edf3f8;
}

/* Reset CSS */
*,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
